* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v100_251 {
  width: 428px;
  height: 926px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_252 {
  width: 428px;
  height: 903px;
  background: url("../images/v100_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1px;
  overflow: hidden;
}
.v100_253 {
  width: 428px;
  height: 861px;
  background: rgba(227,226,224,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  overflow: hidden;
}
.v100_254 {
  width: 158px;
  height: 27px;
  background: url("../images/v100_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 135px;
  overflow: hidden;
}
.v100_255 {
  width: 158px;
  color: rgba(105,105,105,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Asap;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v100_256 {
  width: 390px;
  height: 857px;
  background: url("../images/v100_256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 13px;
  overflow: hidden;
}
.v100_257 {
  width: 292px;
  height: 330px;
  background: url("../images/v100_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 97px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_258 {
  width: 239px;
  height: 243px;
  background: url("../images/v100_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v100_259 {
  width: 292px;
  height: 330px;
  background: url("../images/v100_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 97px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v100_264 {
  width: 11px;
  height: 708px;
  background: url("../images/v100_264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 410px;
  overflow: hidden;
}
.v100_265 {
  width: 11px;
  height: 708px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 420px;
  border-top-right-radius: 420px;
  border-bottom-left-radius: 420px;
  border-bottom-right-radius: 420px;
  overflow: hidden;
}
.v100_266 {
  width: 11px;
  height: 220px;
  background: rgba(174,174,174,1);
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 0px;
  border-top-left-radius: 420px;
  border-top-right-radius: 420px;
  border-bottom-left-radius: 420px;
  border-bottom-right-radius: 420px;
  overflow: hidden;
}
.v100_267 {
  width: 428px;
  height: 132px;
  background: url("../images/v100_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_268 {
  width: 428px;
  height: 132px;
  background: rgba(177,210,131,1);
  opacity: 0.8500000238418579;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_269 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 74px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v100_270 {
  width: 65px;
  height: 65px;
  background: url("../images/v100_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 181px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v100_271 {
  width: 61px;
  height: 73px;
  background: url("../images/v100_271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 360px;
  overflow: hidden;
}
.v100_272 {
  width: 51px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v100_273 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 17px;
}
.v100_274 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 27px;
}
.v100_275 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 37px;
}
.v100_276 {
  width: 50px;
  height: 50px;
  background: url("../images/v100_276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v100_277 {
  width: 50px;
  height: 40px;
  background: url("../images/v100_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_278 {
  width: 50px;
  height: 40px;
  background: url("../images/v100_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_279 {
  width: 24px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
}
.v100_280 {
  width: 50px;
  height: 40px;
  background: url("../images/v100_280.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v100_281 {
  width: 428px;
  height: 78px;
  background: url("../images/v100_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 861px;
  left: 0px;
  overflow: hidden;
}
.v100_282 {
  width: 428px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_283 {
  width: 45px;
  height: 45px;
  background: url("../images/v100_283.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 369px;
  overflow: hidden;
}
.v100_284 {
  width: 45px;
  height: 36px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.name {
  color: #fff;
}
.v100_286 {
  width: 75px;
  height: 75px;
  background: url("../images/v100_286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v100_287 {
  width: 54px;
  height: 37px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
}
.v100_288 {
  width: 4px;
  height: 3px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 55px;
}
.v100_289 {
  width: 27px;
  height: 22px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 23px;
}
.v100_290 {
  width: 18px;
  height: 14px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 28px;
}
.v100_291 {
  width: 437px;
  height: 229px;
  background: url("../images/v100_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 8px;
  overflow: hidden;
}
.v100_292 {
  width: 437px;
  height: 229px;
  background: url("../images/v100_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_293 {
  width: 429px;
  height: 229px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v100_316 {
  width: 429px;
  height: 59px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v100_294 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 146px;
  font-family: Asap;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
.v100_317 {
  width: 428px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 0px;
  font-family: Asap;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v100_318 {
  width: 408px;
  height: 54px;
  background: url("../images/v100_318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 864px;
  left: 10px;
  overflow: hidden;
}
.v100_319 {
  width: 408px;
  height: 54px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v100_320 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 164px;
  font-family: Asap;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
