* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v102_22 {
  width: 428px;
  height: 926px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_23 {
  width: 428px;
  height: 861px;
  background: url("../images/v102_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v102_24 {
  width: 428px;
  height: 861px;
  background: rgba(227,226,224,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_39 {
  width: 428px;
  height: 59px;
  background: url("../images/v104_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 1px;
  overflow: hidden;
}
.v104_40 {
  width: 428px;
  height: 59px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v104_41 {
  width: 161px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 133px;
  font-family: Asap;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
.v102_38 {
  width: 428px;
  height: 132px;
  background: url("../images/v102_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_39 {
  width: 428px;
  height: 132px;
  background: rgba(177,210,131,1);
  opacity: 0.8500000238418579;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_41 {
  width: 65px;
  height: 65px;
  background: url("../images/v102_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 181px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v102_42 {
  width: 61px;
  height: 73px;
  background: url("../images/v102_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 360px;
  overflow: hidden;
}
.v102_43 {
  width: 51px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v102_44 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 17px;
}
.v102_45 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 27px;
}
.v102_46 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 37px;
}
.v102_47 {
  width: 50px;
  height: 50px;
  background: url("../images/v102_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v102_48 {
  width: 50px;
  height: 40px;
  background: url("../images/v102_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_49 {
  width: 50px;
  height: 40px;
  background: url("../images/v102_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_50 {
  width: 24px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
}
.v102_51 {
  width: 50px;
  height: 40px;
  background: url("../images/v102_51.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v102_40 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 177px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v102_52 {
  width: 428px;
  height: 78px;
  background: url("../images/v102_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 861px;
  left: 0px;
  overflow: hidden;
}
.v102_53 {
  width: 428px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_54 {
  width: 45px;
  height: 45px;
  background: url("../images/v102_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 369px;
  overflow: hidden;
}
.v102_55 {
  width: 45px;
  height: 36px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.name {
  color: #fff;
}
.v102_57 {
  width: 75px;
  height: 75px;
  background: url("../images/v102_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v102_58 {
  width: 54px;
  height: 37px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
}
.v102_59 {
  width: 4px;
  height: 3px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 55px;
}
.v102_60 {
  width: 27px;
  height: 22px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 23px;
}
.v102_61 {
  width: 18px;
  height: 14px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 28px;
}
