* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v99_188 {
  width: 428px;
  height: 926px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v99_189 {
  width: 428px;
  height: 903px;
  background: url("../images/v99_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 1px;
  overflow: hidden;
}
.v99_190 {
  width: 428px;
  height: 861px;
  background: rgba(227,226,224,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  overflow: hidden;
}
.v99_191 {
  width: 158px;
  height: 27px;
  background: url("../images/v99_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 135px;
  overflow: hidden;
}
.v99_192 {
  width: 158px;
  color: rgba(105,105,105,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Asap;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v99_193 {
  width: 390px;
  height: 857px;
  background: url("../images/v99_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 13px;
  overflow: hidden;
}
.v99_194 {
  width: 292px;
  height: 330px;
  background: url("../images/v99_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 97px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v99_195 {
  width: 239px;
  height: 243px;
  background: url("../images/v99_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v99_196 {
  width: 292px;
  height: 330px;
  background: url("../images/v99_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 97px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v99_201 {
  width: 11px;
  height: 708px;
  background: url("../images/v99_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 410px;
  overflow: hidden;
}
.v99_202 {
  width: 11px;
  height: 708px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 420px;
  border-top-right-radius: 420px;
  border-bottom-left-radius: 420px;
  border-bottom-right-radius: 420px;
  overflow: hidden;
}
.v99_203 {
  width: 11px;
  height: 220px;
  background: rgba(174,174,174,1);
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 0px;
  border-top-left-radius: 420px;
  border-top-right-radius: 420px;
  border-bottom-left-radius: 420px;
  border-bottom-right-radius: 420px;
  overflow: hidden;
}
.v99_204 {
  width: 428px;
  height: 132px;
  background: url("../images/v99_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v99_205 {
  width: 428px;
  height: 132px;
  background: rgba(177,210,131,1);
  opacity: 0.8500000238418579;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v99_206 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 74px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v99_207 {
  width: 65px;
  height: 65px;
  background: url("../images/v99_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 181px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v99_208 {
  width: 61px;
  height: 73px;
  background: url("../images/v99_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 360px;
  overflow: hidden;
}
.v99_209 {
  width: 51px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v99_210 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 17px;
}
.v99_211 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 27px;
}
.v99_212 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 37px;
}
.v99_213 {
  width: 50px;
  height: 50px;
  background: url("../images/v99_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v99_214 {
  width: 50px;
  height: 40px;
  background: url("../images/v99_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v99_215 {
  width: 50px;
  height: 40px;
  background: url("../images/v99_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v99_216 {
  width: 24px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
}
.v99_217 {
  width: 50px;
  height: 40px;
  background: url("../images/v99_217.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v99_218 {
  width: 428px;
  height: 78px;
  background: url("../images/v99_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 861px;
  left: 0px;
  overflow: hidden;
}
.v99_219 {
  width: 428px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v99_220 {
  width: 45px;
  height: 45px;
  background: url("../images/v99_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 369px;
  overflow: hidden;
}
.v99_221 {
  width: 45px;
  height: 36px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.name {
  color: #fff;
}
.v99_223 {
  width: 75px;
  height: 75px;
  background: url("../images/v99_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v99_224 {
  width: 54px;
  height: 37px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
}
.v99_225 {
  width: 4px;
  height: 3px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 55px;
}
.v99_226 {
  width: 27px;
  height: 22px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 23px;
}
.v99_227 {
  width: 18px;
  height: 14px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 28px;
}
.v100_238 {
  width: 408px;
  height: 212px;
  background: url("../images/v100_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 10px;
  overflow: hidden;
}
.v100_239 {
  width: 408px;
  height: 52px;
  background: url("../images/v100_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 0px;
  overflow: hidden;
}
.v100_240 {
  width: 408px;
  height: 52px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v100_241 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 164px;
  font-family: Asap;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
.v100_242 {
  width: 408px;
  height: 60px;
  background: url("../images/v100_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v100_243 {
  width: 408px;
  height: 60px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v100_244 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 164px;
  font-family: Asap;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
.v100_248 {
  width: 408px;
  height: 60px;
  background: url("../images/v100_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v100_249 {
  width: 408px;
  height: 60px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v100_250 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 159px;
  font-family: Asap;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
.v100_245 {
  width: 408px;
  height: 54px;
  background: url("../images/v100_245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  overflow: hidden;
}
.v100_246 {
  width: 408px;
  height: 54px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v100_247 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 164px;
  font-family: Asap;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
