* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: black;
}
.v148_45 {
  width: 428px;
  height: 926px;
  background: rgba(255,254,254,1);
  opacity: 1;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.v148_57 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 391px;
  left: 33px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v148_64 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 107px;
  left: 128px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}


.v148_98 {
  width: 137px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 215px;
  left: 2px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v148_116 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 655px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}

/* location button */
.v149_124 {
  border: none;
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 653px;
  left: 325px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: center;
}
.v149_124:hover{
  background-color: rgba(177,210,131,1);
  color: white;
}

/* tag people button */
.v149_127 {
  border: none;
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 756px;
  left: 325px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: center;
}
.v149_127:hover{
  background-color: rgba(177,210,131,1);
  color: white;
}

/* Event time button */
.v149_126 {
  border: none;
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 703px;
  left: 325px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: center;
}
.v149_126:hover{
  background-color: rgba(177,210,131,1);
  color: white;
}


.v148_117 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 708px;
  left: 73px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v148_118 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 762px;
  left: 72px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}

/* add imgae button */
.v148_104 {
  width: 85px;
  height: 39px;
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 315px;
  overflow: hidden;
}

.v148_104 input[type="file"]{
  -webkit-appearance:none; 
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  width: 100%;
  height: 100%;
}

.v148_104 button{
  background: rgba(177,210,131,1);
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

/* .image_upload:hover{
  background-color: #ccc;
  color: white; 
} */


/* cancel button */
.v148_96 {
  width: 80px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_95 {
  width: 80px;
  height: 34px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 154px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border: 1px solid rgba(0,0,0,1);
  background: rgba(196,196,196,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.v148_95:hover{
  background-color: rgb(250, 3, 3);
  color: white;
}


/* Event tilte text box  */
.v148_97 {
  width: 400px;;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 260px;
  left: 14px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border: none;
  border-bottom:1px solid rgba(0,0,0,1);
}


/* post button */
.v148_93 {
  width: 73px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 341px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_94 {
  background: rgba(177,210,131,1);
  border: 1px solid rgba(0,0,0,1);
  width: 73px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 151px;
  left: 328px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v148_94:hover{
  background-color: #ccc;
  color: white;
}



.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}

/* section line #1  */
.v148_113_1 {
  width: 399px;
  background: url("../imageFolder/v148_113.png");
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 17px;
  border: 1px solid rgba(196,196,196,1);
}

/* section line #2  */
.v148_113_2 {
  width: 399px;
  background: url("../imageFolder/v148_113.png");
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 17px;
  border: 1px solid rgba(196,196,196,1);
}

/* section line #3  */
.v148_113_3 {
  width: 399px;
  background: url("../imageFolder/v148_113.png");
  opacity: 1;
  position: absolute;
  top: 800px;
  left: 17px;
  border: 1px solid rgba(196,196,196,1);
}

.name {
  color: #fff;
}
.v148_101 {
  width: 400px;
  height: 203px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 17px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: large;
  font-family: Roboto;
  
}
.v148_102 {
  width: 336px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 333px;
  left: 38px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v149_120 {
  width: 26px;
  height: 33px;
  background: url("../imageFolder/v149_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 32px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v149_121 {
  width: 50px;
  height: 50px;
  background: url("../imageFolder/v149_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 20px;
  overflow: hidden;
}
.v149_122 {
  width: 40px;
  height: 40px;
  background: url("../imageFolder/v149_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 25px;
  overflow: hidden;
}

/* upload image 2 */
.v149_128 {
  width: 81px;
  height: 63px;
  background: rgba(222,222,222,1);
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 26px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v149_128 img{
  width: 81px;
  height: 63px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



/* upload image 1 */
.v149_129 {
  width: 81px;
  height: 63px;
  background: rgba(222,222,222,1);
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 118px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v149_129 img{
  width: 81px;
  height: 63px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Header */
.msg-header {
  position: absolute;
  width: 429px;
  height: 91px;
  left: 0px;
  top: 0px;
}

.v123_30 {
  position: absolute;
  width: 297px;
  height: 91px;
  left: 0px;
  top: 0px;

  background: #B1D283;
}

.v123_31 {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  background: #B1D283;
}

.v123_32 {
  width: 297px;
  height: 88.25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.v123_33 {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  border: none;


  color: #FFFFFF;
  background-color: #B1D283;

  border: none;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v123_33:hover{
  background-color: #ccc;
  color: white;
}

/* footer */
.footer-button {
  position: absolute;
  width: 107px;
  height: 79px;
  background: #B4D283;
  
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  
  border: none;
  
  color: #FFFFFF;
  }
  .footer-button:hover{
  background-color: #ccc;
  color: white;
  }
  
  #nearby {
  left: 0px;
  top: 847px;
  font-weight: normal;
  }
  
  #inbox {
  left: 107px;
  top: 847px;
  font-weight: bold;
  text-decoration: underline;
  }
  
  #events {
  left: 214px;
  top: 847px;
  font-weight: normal;
  }
  
  #liked {
  left: 321px;
  top: 847px;
  font-weight: normal;
  }
