* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: black;
}

.v135_84 {
  width: 428px;
  height: 926px;
  background: rgba(255,254,254,1);
  opacity: 1;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.v135_85 {
  width: 268px;
  height: 90px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v135_86 {
  width: 164px;
  height: 90px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 264px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}


.v135_128 {
  width: 393px;
  height: 245px;
  background: url("../imageFolder/v135_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 17px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v135_91 {
  width: 409px;
  height: 127px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 9px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v135_94 {
  /* -webkit-text-fill-color: rgba(255,255,255,1);
  -webkit-text-stroke: 0.1px black; */
  width: 438px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 253px;
  left: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.event-address{
  /* -webkit-text-fill-color: rgba(255,255,255,1);
  -webkit-text-stroke: 0.1px black; */
  width: 438px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 280px;
  left: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  
}

.v135_95 {
  width: 363px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 306px;
  left: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.v135_131 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 353px;
  left: 32px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v135_100 {
  border: none;
  background: rgba(177,210,131,1);
  width: 160px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 17px;
  left: 266px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v135_100:hover{
  background-color: #ccc;
  color: white;
}



.v135_107 {
  width: 268px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 46px;
  opacity: 1;
  text-align: center;
}
.v135_118 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 107px;
  left: 126px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v135_134 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 418px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: center;
}
.v135_140 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 12px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v148_24 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 697px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}

/* image #1 */
.v135_133 {
  width: 78px;
  height: 75px;
  /* background: url("../images/v135_133.png"); */
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 32px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v135_133 img{
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%;
  width: 78px;
  height: 75px;
}


.v135_135 {
  width: 53px;
  height: 52px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 14px;
  border-radius: 50%;
}

/* image #2 */
.v135_136 {
  width: 53px;
  height: 52px;
  /* background: url("../images/v135_136.png"); */
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 14px;
  border-radius: 50%;
}

.v135_136 img{
  width: 53px;
  height: 52px;
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%
}

/* comment image #1 */


.v148_28 {
  width: 30px;
  height: 30px;
  /* background: url("../images/v148_28.png"); */
  opacity: 1;
  position: absolute;
  top: 724px;
  left: 17px;
  border-radius: 50%;
}
.v148_28 img{
  width: 30px;
  height: 30px;
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%
}




/* comment image #2 */
.v148_33 {
  width: 30px;
  height: 30px;
  /* background: url("../images/v148_33.png"); */
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 17px;
  border-radius: 50%;
}

.v148_33 img{
  width: 30px;
  height: 30px;
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%
}


/* comment image #3 */
.v148_37 {
  width: 30px;
  height: 30px;
  /* background: url("../images/v148_37.png"); */
  opacity: 1;
  position: absolute;
  top: 800px;
  left: 17px;
  border-radius: 50%;
}

.v148_37 img{
  width: 30px;
  height: 30px;
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%
}




/* image #4 */
.v135_137 {
  width: 53px;
  height: 52px;
  /* background: url("../images/v135_137.png"); */
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 148px;
  border-radius: 50%;
}

.v135_137 img{
  width: 53px;
  height: 52px;
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%
}






/* image #3 */
.v135_138 {
  width: 53px;
  height: 52px;
  /* background: url("../images/v135_138.png"); */
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 81px;
  border-radius: 50%;
}
.v135_138 img{
  width: 53px;
  height: 52px;
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%
}




.v135_139 {
  width: 53px;
  height: 52px;
  /* background: url("../images/v135_139.png"); */
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 215px;
  border-radius: 50%;
}

.v135_139 img{
  width: 53px;
  height: 52px;
  background-color: rgba(255,254,254,1);
  padding:3%;
  border-radius: 50%

}

/* View All button */
.v148_26 {
  width: 102px;
  height: 49px;
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 302px;
  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v148_25 {
  background: rgba(177,210,131,1);
  width: 102px;
  height: 49px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 457px;
  left: 303px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v148_25:hover{
  background-color: #ccc;
  color: white;
}




.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v148_34 {
  width: 39px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 765px;
  left: 56px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
}
.v148_38 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 803px;
  left: 55px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
}
.v148_29 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 728px;
  left: 54px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
}

/* view more button */
.v148_43 {
  margin-left: -13px;
  width: 100px;
  color: rgba(174,174,174,1);
  position: absolute;
  top: 827px;
  left: 180px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
  border: none;
  background: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
}

.v148_43:hover {
  background-color: rgba(177,210,131,1);
  color: white;
}


.v148_42 {
  width: 34px;
  color: rgba(174,174,174,1);
  position: absolute;
  top: 726px;
  left: 389px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
}
.v148_41 {
  width: 28px;
  color: rgba(174,174,174,1);
  position: absolute;
  top: 768px;
  left: 393px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
}
.v148_40 {
  width: 22px;
  color: rgba(174,174,174,1);
  position: absolute;
  top: 805px;
  left: 397px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
}
.v148_39 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 801px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
}
.v148_35 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 765px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
}
.v148_27 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 726px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: justified;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
}

.v135_141 {
  width: 376px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 565px;
  left: 21px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align:left;
}


/* Header */
.msg-header {
  position: absolute;
  width: 429px;
  height: 91px;
  left: 0px;
  top: 0px;
}

.v123_30 {
  position: absolute;
  width: 297px;
  height: 91px;
  left: 0px;
  top: 0px;

  background: #B1D283;
}

.v123_31 {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  background: #B1D283;
}

.v123_32 {
  width: 297px;
  height: 88.25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.v123_33 {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  border: none;


  color: #FFFFFF;
  background-color: #B1D283;

  border: none;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v123_33:hover{
  background-color: #ccc;
  color: white;
}


/* footer */
.footer-button {
  position: absolute;
  width: 107px;
  height: 79px;
  background: #B4D283;
  
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  
  border: none;
  
  color: #FFFFFF;
  }
  .footer-button:hover{
  background-color: #ccc;
  color: white;
  }
  
  #nearby {
  left: 0px;
  top: 847px;
  font-weight: normal;
  }
  
  #inbox {
  left: 107px;
  top: 847px;
  font-weight: bold;
  /* text-decoration: underline; */
  }
  
  #events {
  left: 214px;
  top: 847px;
  font-weight: normal;
  }
  
  #liked {
  left: 321px;
  top: 847px;
  font-weight: normal;
  }

