* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: black;
}

/*here 
*/
.button{
  transition-duration: 0.4s;
}

.v6_4 {
  width: 428px;
  height: 926px;
  background: rgba(255,254,254,1);
  opacity: 1;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.v27_7 {
  width: 268px;
  height: 90px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v130_33 {
  width: 107px;
  height: 73px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 321px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_32 {
  width: 107px;
  height: 73px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 215px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
/* .v130_44 {
  width: 281px;
  height: 34px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 128px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
} */
/* .v130_55 {
  width: 100px;
  height: 34px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 238px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
} */
.v131_76 {
  width: 409px;
  height: 147px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 8px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_31 {
  width: 107px;
  height: 73px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 107px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_27 {
  width: 107px;
  height: 73px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v133_80 {
  width: 314px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 705px;
  left: 86px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v132_79 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 746px;
  left: 170px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}

/*Nearby Button*/
.v130_28 {
  background-color: rgba(177,210,131,1);
  border: none;
  width: 98px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 870px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v130_28:hover{
  background-color: #ccc;
  color: white;
}

/*Inbox Button*/
.v130_35 {
  background-color: rgba(177,210,131,1);
  border: none;
  width: 95px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 870px;
  left: 112px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v130_35:hover{
  background-color: #ccc;
  color: white;
}

/*Event Button*/
.v130_36 {
  background-color: rgba(177,210,131,1);
  border: none;
  width: 100px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 870px;
  left: 218px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.v130_36:hover{
  background-color: #ccc;
  color: white;
}


/*Like Button*/
.v130_38 {
  background-color: rgba(177,210,131,1);
  border: none;
  width: 100px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 870px;
  left: 324px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.v130_38:hover{
  background-color: #ccc;
  color: white;
}

/* My Profile Button */
.v130_25 {
  width: 164px;
  height: 90px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 264px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_26 {
  border: none;
  background: rgba(177,210,131,1);
  width: 160px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 17px;
  left: 266px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v130_26:hover{
  background-color: #ccc;
  color: white;
}


.v130_45 {
  width: 136px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 130px;
  left: 128px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

/* Detail button 1 */
.v130_55 {
  width: 100px;
  height: 34px;
  /* background: rgba(177,210,131,1); */
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 238px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v130_56 {
  background: rgba(177,210,131,1);
  /* margin-top: 3px; */
  width: 100px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 373px;
  left: 238px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v130_56:hover{
  background-color: #ccc;
  color: white;
}


/* More button 2 */
.v131_72 {
  width: 64px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 347px;
  border: none;
  overflow: hidden;
}
.v131_74 {
  background: rgba(177,210,131,1);
  width: 64px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 186px;
  left: 347px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v131_74:hover{
  background-color: #ccc;
  color: white;
}


/* More button 1 */
.v133_81 {
  width: 67px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 337px;
  border: none;
  overflow: hidden;
}
.v133_82 {
  background: rgba(177,210,131,1);
  width: 67px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 786px;
  left: 338px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v133_82:hover{
  background-color: #ccc;
  color: white;
}


.v27_9 {
  width: 268px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 46px;
  opacity: 1;
  text-align: center;
}
.v130_42 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 104px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_51 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 238px;
  font-size: 22px;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.v130_52 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 289px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_53 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 315px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_54 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 340px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_67 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 512px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_68 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 535px;
  left: 237px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_69 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 560px;
  left: 239px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_43 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 16px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 31px;
  opacity: 1;
  text-align: center;
}
.v131_70 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 18px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_75 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 652px;
  left: 12px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v130_46 {
  width: 17px;
  height: 15px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 370px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v130_48 {
  width: 210px;
  height: 175px;
  background: url("../images/v130_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 14px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_49 {
  width: 53px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v130_50 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 242px;
  left: 32px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

 /* Detail button 2   */
.v130_58 {
  width: 100px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 237px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v130_59 {
  background: rgba(177,210,131,1);
  height: 34px;
  width: 100px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 591px;
  left: 237px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.v130_59:hover{
  background-color: #ccc;
  color: white;
}


.v130_60 {
  /* width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 449px;
  left: 238px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center; */
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 449px;
  left: 238px;
  font-size: 22px;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.v130_64 {
  width: 210px;
  height: 175px;
  background: url("../images/v130_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 13px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v132_77 {
  width: 141px;
  height: 115px;
  background: url("../images/v132_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_65 {
  width: 53px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v130_66 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 464px;
  left: 32px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}


.v130_44 {
  width: 281px;
  height: 36px;
  /* background: rgba(177,210,131,1); */
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 128px;
  /* border: 1px solid rgba(0,0,0,1); */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  overflow: hidden;
}

.v130_44 input[type=text]{
  padding: 2px;
  border: none;
  font-size: large;
  color: white;
  width: 220px;
  height: 34px;
  background: rgba(177,210,131,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* width: 220px;
  height: 34px; */
  /* color: white;
  width: 281px;
  height: 34px;
  background: rgba(177,210,131,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 128px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;   */
}

.v130_44 button{
  font-size: large;
  margin-left: 4px;
  border: 1px solid rgba(0,0,0,1);
  height: 34px;
  width: 55px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(177,210,131,1);
  color: white;
  text-align: center;
  cursor: pointer;
}

.v130_44 button:hover{
  background: #ccc;
}
