* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: black;
}

/*here 
*/
.button{
  transition-duration: 0.4s;
}

.v6_4 {
  width: 428px;
  height: 926px;
  background: rgba(255,254,254,1);
  opacity: 1;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.v131_76 {
  width: 409px;
  height: 147px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 8px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}


.v133_80 {
  width: 314px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 705px;
  left: 86px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v132_79 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 746px;
  left: 170px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}

.v130_45 {
  width: 136px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 130px;
  left: 128px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

/* Detail button 1 */
.v130_55 {
  width: 100px;
  height: 34px;
  /* background: rgba(177,210,131,1); */
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 238px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v130_56 {
  background: rgba(177,210,131,1);
  /* margin-top: 3px; */
  width: 100px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 373px;
  left: 238px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v130_56:hover{
  background-color: #ccc;
  color: white;
}

.create_event{
  background: rgba(177,210,131,1);
  width: 100px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 786px;
  left: 215px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.create_event:hover{
  background-color: #ccc;
  color: white;
}

/* More button 2 */
.v131_72 {
  width: 64px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 347px;
  border: none;
  overflow: hidden;
}
.v131_74 {
  background: rgba(177,210,131,1);
  width: 64px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 186px;
  left: 347px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v131_74:hover{
  background-color: #ccc;
  color: white;
}


/* More button 1 */
.v133_81 {
  width: 67px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 337px;
  border: none;
  overflow: hidden;
}
.v133_82 {
  background: rgba(177,210,131,1);
  width: 67px;
  height: 34px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 786px;
  left: 338px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v133_82:hover{
  background-color: #ccc;
  color: white;
}

.v130_42 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 104px;
  left: 10px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_51 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 238px;
  font-size: 22px;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.v130_52 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 289px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_53 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 315px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_54 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 340px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_67 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 512px;
  left: 238px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_68 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 535px;
  left: 237px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_69 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 560px;
  left: 239px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v130_43 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 16px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 31px;
  opacity: 1;
  text-align: center;
}
.v131_70 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 191px;
  left: 18px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v131_75 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 652px;
  left: 12px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}


.v130_46 {
  width: 17px;
  height: 15px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 370px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v130_48 {
  width: 210px;
  height: 175px;
  background: url("../imageFolder/v130_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 14px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_49 {
  width: 53px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v130_50 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 242px;
  left: 32px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

 /* Detail button 2   */
.v130_58 {
  width: 100px;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 237px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v130_59 {
  background: rgba(177,210,131,1);
  height: 34px;
  width: 100px;
  color: rgba(255,254,254,1);
  position: absolute;
  top: 591px;
  left: 237px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.v130_59:hover{
  background-color: #ccc;
  color: white;
}


.v130_60 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 449px;
  left: 238px;
  font-size: 22px;
  font-weight: Bold;
  opacity: 1;
  text-align: center;
}
.v130_64 {
  width: 210px;
  height: 175px;
  background: url("../imageFolder/v130_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 13px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v132_77 {
  width: 141px;
  height: 115px;
  background: url("../imageFolder/v132_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 704px;
  left: 16px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v130_65 {
  width: 53px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v130_66 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 464px;
  left: 32px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}


.v130_44 {
  width: 281px;
  height: 36px;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 128px;
  overflow: hidden;
}

.v130_44 input[type=text]{
  padding: 2px;
  border: none;
  font-size: large;
  color: white;
  width: 220px;
  height: 34px;
  background: rgba(177,210,131,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v130_44 button{
  font-size: large;
  margin-left: 4px;
  border: 1px solid rgba(0,0,0,1);
  height: 34px;
  width: 55px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(177,210,131,1);
  color: white;
  text-align: center;
  cursor: pointer;
}

.v130_44 button:hover{
  background: #ccc;
}



/* Header */
.msg-header {
  position: absolute;
  width: 429px;
  height: 91px;
  left: 0px;
  top: 0px;
}

.v123_30 {
  position: absolute;
  width: 297px;
  height: 91px;
  left: 0px;
  top: 0px;

  background: #B1D283;
}

.v123_31 {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  background: #B1D283;
}

.v123_32 {
  width: 297px;
  height: 88.25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.v123_33 {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  border: none;


  color: #FFFFFF;
  background-color: #B1D283;

  border: none;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v123_33:hover{
  background-color: #ccc;
  color: white;
}

/* footer */
.footer-button {
  position: absolute;
  width: 107px;
  height: 79px;
  background: #B4D283;
  
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  
  border: none;
  
  color: #FFFFFF;
  }
  .footer-button:hover{
  background-color: #ccc;
  color: white;
  }
  
  #nearby {
  left: 0px;
  top: 847px;
  font-weight: normal;
  }
  
  #inbox {
  left: 107px;
  top: 847px;
  font-weight: bold;
  /* text-decoration: underline; */
  }
  
  #events {
  left: 214px;
  top: 847px;
  font-weight: normal;
  }
  
  #liked {
  left: 321px;
  top: 847px;
  font-weight: normal;
  }