* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    background-color: black;
  }
  .v38_110 {
    width: 428px;
    height: 926px;
    background: rgba(255,255,255,1);
    opacity: 1;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }
  .v38_81 {
    width: 428px;
    height: 926px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;

  }
  .v38_82 {
    width: 428px;
    height: 926px;
    background: rgba(227,226,224,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v38_83 {
    width: 428px;
    height: 79px;
    background: url("../images/v38_83.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 847px;
    left: 0px;
    overflow: hidden;
  }
  .v38_84 {
    width: 428px;
    height: 79px;
    background: rgba(177,210,131,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v38_85 {
    width: 428px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: center;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
  }
  .v38_86 {
    width: 399px;
    height: 727px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 105px;
    left: 15px;
    overflow: hidden;
  }
  .v38_87 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 152px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  .v38_88 {
    width: 330px;
    height: 46px;
    background: url("../images/v38_88.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 248px;
    left: 46px;
    overflow: hidden;
  }
  .v38_89 {
    width: 330px;
    height: 46px;
    background: rgba(227,226,224,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v38_90 {
    width: 330px;
    height: 46px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    padding-left: 10px;
  }
  .v38_91 {
    width: 330px;
    height: 46px;
    background: url("../images/v38_91.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 317px;
    left: 46px;
    overflow: hidden;
  }
  .v38_92 {
    width: 330px;
    height: 46px;
    background: rgba(227,226,224,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v38_93 {
    width: 330px;
    height: 46px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    padding-left: 10px;
  }
  .v38_101 {
    width: 328px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 429px;
    left: 50px;
    overflow: hidden;
    border-radius: 10px;
  }
  .v38_102 {
    width: 328px;
    height: 80px;
    background: rgba(177,210,131,0.800000011920929);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v38_103 {
    width: 265px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 10px;
    left: 27px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  .v38_104 {
    width: 428px;
    height: 91px;
    background: url("../images/v38_104.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v38_105 {
    width: 428px;
    height: 91px;
    background: rgba(177,210,131,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v38_106 {
    width: 309px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 75px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }
  .v38_107 {
    width: 328px;
    color: rgba(0,0,255,1);
    position: absolute;
    top: 520px;
    left: 48px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  