* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v106_42 {
  width: 428px;
  height: 926px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_43 {
  width: 428px;
  height: 926px;
  background: url("../images/v106_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v106_44 {
  width: 428px;
  height: 926px;
  background: rgba(109,109,109,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_58 {
  width: 428px;
  height: 744px;
  background: url("../images/v106_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_59 {
  width: 428px;
  height: 133px;
  background: rgba(177,210,131,1);
  opacity: 0.8500000238418579;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_60 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 74px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v127_37 {
  width: 377px;
  height: 569px;
  background: url("../images/v127_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 26px;
  overflow: hidden;
}
.v108_93 {
  width: 377px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Ruge Boogie;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v107_92 {
  width: 371px;
  height: 426px;
  background: url("../images/v107_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v106_61 {
  width: 65px;
  height: 65px;
  background: url("../images/v106_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 181px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v106_62 {
  width: 61px;
  height: 73px;
  background: url("../images/v106_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 360px;
  overflow: hidden;
}
.v106_63 {
  width: 51px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v106_64 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 17px;
}
.v106_65 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 27px;
}
.v106_66 {
  width: 6px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 37px;
}
.v106_67 {
  width: 50px;
  height: 50px;
  background: url("../images/v106_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v106_68 {
  width: 50px;
  height: 40px;
  background: url("../images/v106_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_69 {
  width: 50px;
  height: 40px;
  background: url("../images/v106_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_70 {
  width: 24px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
}
.v106_71 {
  width: 50px;
  height: 40px;
  background: url("../images/v106_71.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v127_46 {
  width: 301px;
  height: 114px;
  background: url("../images/v127_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 774px;
  left: 63px;
  overflow: hidden;
}
.v127_42 {
  width: 301px;
  height: 51px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v127_45 {
  width: 301px;
  height: 51px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v127_47 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 83px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v127_48 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 72px;
  left: 83px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v127_49 {
  width: 32px;
  height: 29px;
  background: url("../images/v127_49.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 31px;
  border-radius: 50%;
}
.v127_50 {
  width: 32px;
  height: 29px;
  background: url("../images/v127_50.png");
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 31px;
  border-radius: 50%;
}
.v127_38 {
  width: 375px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 249px;
  left: 26px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
