* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: black;
}


.frame {
  width: 428px;
  height: 926px;
  background: rgba(255,254,254,1);
  opacity: 1;
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  top:480px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Header */
.msg-header {
  position: absolute;
  width: 429px;
  height: 91px;
  left: 0px;
  top: 0px;


}

.messaging {
  position: absolute;
  width: 428px;
  height: 756px;
  left: 0px;
  top: 91px;
}

.head-divider {
  position: absolute;
  width: 95.99px;
  height: 0px;
  left: 295.77px;
  top: 90.99px;
  
  border: 1px solid #000000;
  transform: matrix(0, -1, 1, 0, 0, 0);
}

.name {
  color: #fff;
}

.logo-rec {
  position: absolute;
  width: 297px;
  height: 91px;
  left: 0px;
  top: 0px;

  background: #B1D283;
}

.profile-rec {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  background: #B1D283;
}
.logo-text {
  width: 297px;
  height: 88.25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}


.profile-button {
  position: absolute;
  width: 132px;
  height: 91px;
  left: 296px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  border: none;
  cursor: pointer;
  background-repeat: no-repeat;


  color: #FFFFFF;
  background-color: #B1D283;

  border: none;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile-button:hover{
  background-color: #ccc;
  color: white;
}
/* Messaging */
.msg-frame {
  position: absolute;
  width: 428px;
  height: 756px;
  left: 0px;
  top: 91px;

  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

/* Messaging */
.messaging-bg {
  position: absolute;
  width: 428px;
  height: 756px;
  left: 0px;
  top: 0px;


  background: #E3E2E0;
}

.to-profile2 {
  
  position: absolute;
  width: 428px;
  height: 640px;
  cursor: pointer;

  background: url(../imageFolder/helena2.png);
  background-repeat: no-repeat;

  border: 0.5px solid #555555;
  border-radius: 25px;
  box-sizing: border-box;
}


.msg-info-con {
  position: absolute;
  top: 36px;
  left: 1px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: auto;

}

.msg-name {
width: 200px;
height: 228px;

font-family: Roboto;
font-style: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #B1D283;
}

.msg {
  width: 100px;
  height: 1118px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1px;

  text-overflow: ellipsis;
  white-space: nowrap;

  /* identical to box height */
  display: flex;
  align-items: center;
}

.msg-status {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #B1D283;
  align-items: right
}

/*Card Position*/
#helena {
  left: 0px;
  top: 0px;
}


/*Profile Pictures*/
#helena-img {
  
  background: url(../imageFolder/helena2.png);
}



/*Message Status*/
#helena-msg {
  font-weight: normal;
  color: #ffffff;
}
.dislike {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 31px;
  top: 742px;

  cursor: pointer;

  font-weight: 300;
  font-size: 72px;

  border: none;
  border-radius: 50%;
  color: #ffffff;

  background-color: #e63d0a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dislike:hover {
  background-color: #ccc;
  color: white;
}
.like {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 131px;
  top: 742px;

  cursor: pointer;

  font-weight: 300;
  font-size: 72px;

  border: none;
  border-radius: 50%;
  color: #ffffff;

  background-color: #8ff008;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.like:hover {
  background-color: #ccc;
  color: white;
}
.redo {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 231px;
  top: 742px;

  cursor: pointer;

  font-weight: 300;
  font-size: 72px;

  border: none;
  border-radius: 50%;
  color: #ffffff;

  background-color: #83b3d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.redo:hover {
  background-color: #ccc;
  color: white;
}

.paw {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 331px;
  top: 742px;

  cursor: pointer;

  font-weight: 300;
  font-size: 72px;

  border: none;
  border-radius: 50%;
  color: #ffffff;

  background-color: #8d661d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.paw:hover {
  background-color: #ccc;
  color: white;
}


/*Footer*/
.footer-button {
position: absolute;
width: 107px;
height: 79px;
background: #B4D283;

cursor: pointer;

font-family: Roboto;
font-style: normal;
font-size: 25px;

border: none;

color: #FFFFFF;
}
.footer-button:hover{
background-color: #ccc;
color: white;
}

#nearby {
left: 0px;
top: 847px;
font-weight: normal;
}

#inbox {
left: 107px;
top: 847px;
font-weight: bold;
/* text-decoration: underline; */
}

#events {
left: 214px;
top: 847px;
font-weight: normal;
}

#liked {
left: 321px;
top: 847px;
font-weight: normal;
}



.dog-card {
  width: 428px;
  height: 844px;
  background: url("../images/v45_282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.228);
  position: absolute;
  top: 91px;
}
.card-image {
  display: block;
  padding-top: 8px;
  margin: auto;
  width: 410px;
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
}

.card-text{
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
}
  
.dog-name{
  grid-row: 1;
  grid-column: 1/ 2;
  font-size: 36px !important;
}

.dog-distance{
  grid-column: 3;
  grid-row: 1;
}
.dog-breed{
  grid-column: 1/-1;
  grid-row: 2;
}
.dog-personality{
  grid-column: 1/-1;
  grid-row: 3;
}