* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;    
    background-color: black; 
  }
  .v38_109 {
    width: 428px;
    height: 926px;
    background: rgba(255,255,255,1);
    opacity: 1;
    /* position: absolute; */
    margin: auto;
    top: 0px;
    overflow: hidden;
    border-radius: 10px;
  }
  .v35_6 {
    width: 428px;
    height: 926px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    overflow: hidden;
    border-radius: 10px;
  }
  .v35_16 {
    width: 428px;
    height: 926px;
    background: rgba(227,226,224,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    overflow: hidden;
  }
  .v35_22 {
    width: 428px;
    height: 79px;
    /* background: url("../images/v35_22.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 847px;
    overflow: hidden;
  }
  .v35_12 {
    width: 428px;
    height: 79px;
    background: rgba(177,210,131,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    overflow: hidden;
  }
  .v35_13 {
    width: 428px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    font-family: Roboto;
    font-weight: Regular;
    opacity: 1;
    text-align: center;
  }
  .v35_25 {
    width: 399px;
    height: 727px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 105px;
    left: 14.5px;
    overflow: hidden;
    border-radius: 10px;
  }
  .v36_26 {
    width: 268px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 80px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    /* text-align: center; */
    /* margin: auto; */
  }
  .v36_29 {
    width: 330px;
    height: 46px;
    /* background: url("../images/v36_29.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 248px;
    left: 49px;
    overflow: hidden;
  }
  .v36_27 {
    width: 330px;
    height: 46px;
    background: rgba(227,226,224,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v36_28 {
    width: 330px;
    height: 46px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    padding-left: 10px;
  }
  .v36_31 {
    width: 330px;
    height: 46px;
    /* background: url("../images/v36_31.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 317px;
    left: 49px;
    overflow: hidden;
  }
  .v36_32 {
    width: 330px;
    height: 46px;
    background: rgba(227,226,224,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v36_33 {
    width: 330px;
    height: 46px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    padding-left: 10px;
  }
  .v36_34 {
    width: 330px;
    height: 46px;
    /* background: url("../images/v36_34.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 386px;
    left: 49px;
    overflow: hidden;
  }
  .v36_35 {
    width: 330px;
    height: 46px;
    background: rgba(227,226,224,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v36_36 {
    width: 330px;
    height: 46px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    padding-left: 10px;
  }
  .v36_43 {
    width: 333px;
    height: 127px;
    /* background: url("../images/v36_43.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 455px;
    left: 49px;
    overflow: hidden;
  }
  .v36_44 {
    width: 330px;
    height: 46px;
    background: rgba(227,226,224,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v36_45 {
    width: 330px;
    height: 46px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    padding-left: 10px;
  }
  .v36_46 {
    width: 333px;
    color: rgba(0,0,0,0.6000000238418579);
    position: absolute;
    top: 51px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v38_49 {
    width: 328px;
    height: 80px;
    /* background: url("../images/v38_49.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 611px;
    left: 49px;
    overflow: hidden;
    border-radius: 10px;

  }
  .v36_47 {
    width: 328px;
    height: 80px;
    background: rgba(177,210,131,0.800000011920929);
    opacity: 1;
    position: absolute;
    top: 0px;
    border-radius: 10px;
    overflow: hidden;
    left: 0px;
  }
  .v36_48 {
    width: 328px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 10px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
    border-radius: 10px;

  }
  .v35_19 {
    width: 428px;
    height: 91px;
    /* background: url("../images/v35_19.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    overflow: hidden;
    margin: auto;
    /* text-align: center; */
  }
  .v35_20 {
    width: 428px;
    height: 91px;
    background: rgba(177,210,131,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    /* text-align: center; */
    /* margin: auto; */
  }
  .v35_21 {
    /* width: 309px; */
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 79.3px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
  }
  .v38_80 {
    width: 331px;
    /* color: url("../images/v38_80.png"); */
    position: absolute;
    top: 714px;
    left: 49px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  